@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
    --color-white: white;
    --color-gray-light: hsl(212, 45%, 89%);
    --color-grayish-blue: hsl(220, 15%, 55%);
    --color-blue-dark: hsl(218, 44%, 22%);
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    font-size: 1.6rem;
    font-family: "Outfit", sans-serif;
    background: var(--color-gray-light);
    min-height: 100%;
    height: 100%;
}

.container {
    margin: 0 auto;
    max-width: 144rem;
    display: grid;
    place-items: center;
    height: 100%;
}

.card {
    background: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2.5rem;
    padding: 1.5rem;
    max-width: 32.5rem;

    &__pic {
        display: block;
    }

    &__img {
        display: block;
        border-radius: 1.5rem;
        height: 100%;
        width: 100%;
    }

    &__meta {
        text-align: center;
        margin-inline: 1rem;
    }

    &__title {
        font-size: 2.25rem;
        margin-block: 2rem;
    }

    &__desc {
        color: var(--color-grayish-blue);
        margin-block-end: 3rem;
    }
}
